<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token" value="3404234415-LQwp3JoHv5BX5TcqavGvc8mLkpRlhd2RjTjulSb"/>
    <add key="tokenSecret" value="GfzrtY2aFeMVzb4TDXimSqObMScwagXHncVhUpp42LrnP"/>
    <add key="consumerKey" value="D0MfKCiQyB5BYB4nvFtLZgMX9"/>
    <add key="consumerSecret" value="VmbBlanLaVnVMEd0nBnQeZ3oL06pFekolSKwcNnJd2eymVI63c"/>
  </appSettings>
</configuration>